{% extends "main/layout.html" %}

{% block title %}
    arr
{% endblock %}

{% block content_layout %}
    <h1>Личный кабинет</h1>
    <h2>Привет, {{ session['username'] }}!</h2>
    <form method="POST">
        <div class="account">
            <div class="mb-3">
                <label class="form-label">
                    <input class="form-control" type="text" name="login" value="{{ session['username'] }}" readonly required>
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    <input class="form-control" type="text" placeholder="{{ name }}" name="name" required>
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    <input class="form-control" type="text" placeholder="{{ email }}" name="email" required>
                </label>
            </div>

        <button class="btn btn-success" type="submit">Сохранить</button>

        </div>
    </form>
{% endblock %}