{% extends "main/base.html" %}

{% block title %}Главная страница сайта{% endblock %}

{% block content %}
    <h1>Посты</h1>

    <section class="posts">
            {% for post in posts %}
                <div class="posts__item">

                    <h2 class="posts__title">
                        {{ post['title'] }}
                    </h2>

                    <p class="posts__author">
                        (Автор: {{ post['login'] }})
                    </p>

                    <p class="posts__content">
                        {{ post['content'] }}
                    </p>

                    {% if post['tags'] %}
                        <p class="posts__tag">
                            {{ post['tags'] }}
                        </p>
                    {% endif %}

                    {% if post['image_path'] %}
                        <img class="posts__image" src="{{ post['image_path'] }}" alt="Картинка поста" width="300">
                    {% endif %}
                </div>
            {% endfor %}
    </section>

{% endblock %}