{% extends "main/base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="mb-3">
        <h1>Информация о сайте</h1>
    </div>
    <div class="mb-3">
        <p>Данный ресурс может помочь раскрыть себя, показать свои идеи миру.</p>
    </div>
    <div class="mb-3">
        <ul>
            <li>Вы можете создавать посты</li>
            <li>Вы можете редактировать посты</li>
            <li>Вы можете просматривать посты других пользователей</li>
            <li>Вы можете оставлять комментарии</li>
        </ul>
    </div>

{% endblock %}