{% extends 'main/index.html' %}

{% block title %} Регистрация {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/form.css') }}">
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="container">
            <label for="Login">
                <b>Логин</b>
                <input type="text" placeholder="" name="Login" required>
            </label>

            <label for="Password">
                <b>Пароль</b>
                <input type="password" placeholder="" name="Password" required>
            </label>

            <button type="submit">Зарегистрироваться</button>

            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
